<a href="https://colab.research.google.com/github/trongthuan205/CS313.K21/blob/master/Fake_Job_Postings/Task_3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
! git clone https://github.com/trongthuan205/CS313.K21.git CS313.K21

fatal: destination path 'CS313.K21' already exists and is not an empty directory.

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [0]:
data = pd.read_csv('CS313.K21/Fake_Job_Postings/DATA.txt', sep = ',', header = None)

In [12]:
data.head()

   0                                          1   ...                    16  17
0   1                           Marketing Intern  ...             Marketing NaN
1   2  Customer Service - Cloud Video Production  ...      Customer Service NaN
2   3    Commissioning Machinery Assistant (CMA)  ...                     ? NaN
3   4          Account Executive - Washington DC  ...                 Sales NaN
4   5                        Bill Review Manager  ...  Health Care Provider NaN

[5 rows x 18 columns]

In [0]:
data = pd.read_csv('/content/CS313.K21/Fake_Job_Postings/fake_job_postings.csv')

In [18]:
data

       job id  ... fraudulent
0        1410  ...          0
1       12880  ...          0
2       14642  ...          0
3       16671  ...          0
4       16506  ...          0
...       ...  ...        ...
17875   17872  ...          0
17876   17874  ...          0
17877   17875  ...          0
17878   17878  ...          0
17879   17879  ...          0

[17880 rows x 18 columns]

In [0]:
X = data.iloc[:,0:-1].values

In [0]:
y = data.iloc[:,-1].values

In [0]:
model = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)

In [25]:
model.fit(X, y)

ValueError: ignored