<a href="https://colab.research.google.com/github/trongthuan205/CS313.K21/blob/master/Fake_Job_Postings/Task_3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/trongthuan205/CS313.K21.git CS313.K21

fatal: destination path 'CS313.K21' already exists and is not an empty directory.

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from google.colab import files

In [0]:
data = pd.read_csv('CS313.K21/Fake_Job_Postings/DATA.txt', sep = ',', header = None)

In [100]:
data.head(5)

   0                                          1   ...                    16  17
0   1                           Marketing Intern  ...             Marketing   0
1   2  Customer Service - Cloud Video Production  ...      Customer Service   0
2   3    Commissioning Machinery Assistant (CMA)  ...                     0   0
3   4          Account Executive - Washington DC  ...                 Sales   0
4   5                        Bill Review Manager  ...  Health Care Provider   0

[5 rows x 18 columns]

In [0]:
def PreprocessingData(train):
     employment_type = pd.get_dummies(train[:,12])
     required_ex = pd.get_dummies(train[:,13])
     requred_edu = pd.get_dummies(train[:,14])
     
     train = np.concatenate((train[:,0:12], employment_type,required_ex,requred_edu, train[:,15:]), axis = 1)

     X_train = train[:,5:40]

     return X_train

In [0]:
def Call_Train(train, label): 
    model = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    model.fit(train, label)
    return model

In [0]:
model = Call_Train(train, label)

In [0]:
def Call_ClassifySingleData(model):
    data_input = input ("Nhap vao thong tin: ")
    data_input = data_input.split (",")
    data_input = np.array(data_input).reshape(1,-1)
    print("Thong tin tuyen dung: ", data_input)

    data_input = PreprocessingData(data_input)

    result = model.predict(data_input)
    
    if result == 1:
        return 'Fraudulent'
    elif result  == 0:
        return 'Not Fraudulent'

In [0]:
def Call_ClassifyMultiData():
    data_input = files.upload()
    data_input = np.array(data_input)
    print('Thong tin: ', data_input)
    model = Call_Train()
    result = model.predict(data_input)
    return {data_input[0], result}