<a href="https://colab.research.google.com/github/trongthuan205/CS313.K21/blob/master/Fake_Job_Postings/Task_3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/trongthuan205/CS313.K21.git CS313.K21

fatal: destination path 'CS313.K21' already exists and is not an empty directory.

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from google.colab import files
import os

In [0]:
data = pd.read_csv('CS313.K21/Fake_Job_Postings/DATA.txt', sep = ',', header = None)

In [37]:
data.head()

   0                                          1   ...                    16  17
0   1                           Marketing Intern  ...             Marketing   0
1   2  Customer Service - Cloud Video Production  ...      Customer Service   0
2   3    Commissioning Machinery Assistant (CMA)  ...                     0   0
3   4          Account Executive - Washington DC  ...                 Sales   0
4   5                        Bill Review Manager  ...  Health Care Provider   0

[5 rows x 18 columns]

In [0]:
def Call_Train(data):

    new_data = data.drop([1,4,15,16], axis = 1)

    employment_type = pd.get_dummies(new_data.iloc[:,10])
    required_ex = pd.get_dummies(new_data.iloc[:,11])
    required_edu = pd.get_dummies(new_data.iloc[:,12])

    label = data.iloc[:,-1].values
    train = np.concatenate([new_data.iloc[:,0:10],employment_type,required_ex,required_edu], axis  = 1)

    X_train, X_test, y_train, y_test = train_test_split(train, label, train_size = 0.8)

    model = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    model.fit(X_train, y_train)

    print(classification_report(y_test, model.predict(X_test)))
    return model

In [36]:
Call_Train(data)

              precision    recall  f1-score   support

           0       0.98      0.98      0.98      3391
           1       0.64      0.70      0.66       185

    accuracy                           0.96      3576
   macro avg       0.81      0.84      0.82      3576
weighted avg       0.97      0.96      0.96      3576

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [0]:
def Call_ClassifySingleData(model, employment_type, required_ex, required_edu):
    data_input = input ("Nhap vao thong tin: ")
    data_input = data_input.split (",")

    for i in range(len(data_input)):
        if(data_input[i].isnumeric()):
            data_input[i] = int(data_input[i])
    
    new_data = pd.DataFrame(data_input)
    new_data = new_data.T
    
    new_data = new_data.drop([1,4,15,16], axis = 1)
    new_data = pd.concat([new_data.iloc,employment_type,required_ex,required_edu],axis  = 1)
    
    test = new_data.values
    result = model.predict(test)
    
    if result.all() == 1:
        return 'Fraudulent'
    elif result.all()  == 0:
        return 'Not Fraudulent'

In [44]:
model  = Call_Train(data)

              precision    recall  f1-score   support

           0       0.98      0.98      0.98      3398
           1       0.70      0.67      0.68       178

    accuracy                           0.97      3576
   macro avg       0.84      0.83      0.83      3576
weighted avg       0.97      0.97      0.97      3576